.HomeBtn{
  margin: auto;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  color: beige;
}

.down-icon {
  position: fixed;
  top: 17px;
  left: 17px;
}

.login-text{
  color: #43AA8B;
  margin-top: 15px;
}