.main-text{

  .title{
    color: #41A30D;
  }
  .subTitle{
    color: #80AD52;
  }
  .content{
    color: #80AD52;
  }
}
.find-btn{
  display: flex;
  justify-content: center;
  .find-text{
    color: #43AA8B;
    margin-top: 15px;
  }
}

